* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, #122221, #2dade4); 
}

.power {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 80vw;
    margin-top: 25vh;
}

.sqrt {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 80vw;
    margin-top: 35vh;
}

.triangle {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 80vw;
    margin-top: 45vh;
}

.quadratic-formula {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 80vw;
    margin-top: 55vh;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container > button:hover {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
}


.grid-container > .operator {
    background: #057d92;
}

.span-two {
    grid-column: span 2;
}
.grid-container > .output {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: rgba(238, 238, 238, 0.788);
    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: #eee;
    font-size: 2.5rem;
}

#base {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    min-width: 100px;
    max-width: 190px;
    min-height: 200px;
    max-height: 240px;
    font-size: 3rem;
    outline: none;
    margin-left: 28vw;
    margin-top: 38vh;
}

#expoente {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    min-width: 40px;
    max-width: 50px;
    min-height: 60px;
    font-size: 1.2rem;
    outline: none;
    margin-left: 2vw;
    margin-top: 35vh;
    position: absolute;
}

.sqrt-ppage {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 10vw;
    margin-top: 80vh;
}

.basic-ppage {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 35vw;
    margin-top: 80vh;
}

.triangle-ppage {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 60vw;
    margin-top: 80vh;
}

.quadratic-formula-ppage {
    background: linear-gradient(to right, #2a6fca, #2dade4);
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    min-height: 36px;
    min-width: 120px;
    color: #eee;
    border: 1px solid #111;
    position: absolute;
    margin-left: 80vw;
    margin-top: 80vh;
}

.equals-div {
    position: absolute;
    top: 46vh;
    left: 51vw;
}

.equals-sign {
    color: #eee;
    font-size: 4rem;
}

.equals-button-power {
    background-color: #057d9200;
    width: 100px;
    border: 1px solid #111;
}

.result-ppage-text {
    font-size: 3rem;
    padding-top: 65px;
}

.resultPower {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    width: 230px;
    height: 200px;
    position: absolute;
    left: 12vw;
    bottom: -5.6vh;
    align-items: center;
}

#radicando {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    min-width: 100px;
    max-width: 190px;
    min-height: 200px;
    max-height: 240px;
    font-size: 3rem;
    outline: none;
    margin-left: 28vw;
    margin-top: 38vh;
}

.base-tpage {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    min-width: 100px;
    max-width: 100px;
    min-height: 70px;
    font-size: 3rem;
    outline: none;
    margin-left: 14vw;
    margin-top: 20vh;
}

.altura-tpage {
    background-color: #eeeeeee7;
    border: 1px solid #111;
    min-width: 100px;
    max-width: 100px;
    min-height: 70px;
    font-size: 3rem;
    outline: none;
    margin-left: 10vw;
    margin-top: 20vh;
}

.altura-text{
    color: #eee;
    margin-left: 27vw;
    margin-top: -29.35vh;
    position: absolute;
}

.base-text {
    color: #eee;
    margin-left: 44vw;
    margin-top: 5vh;
    position: relative;
}

.visual-triangle {
    width: 40px;
    height: 40px;
    color: #eee;
    position: absolute;
    font-size: 6rem;
    margin-top: 13vh;
    margin-left: 37vw;
}

.calc-area {
    width: 30px;
    height: 30px;
    color: #eee;
    position: absolute;
    margin-top: 20vh;
    margin-left: 50vw;
}

#calc-area-button {
    cursor: pointer;
}

.result-area-div {
    height: 70px;
    width: 100px;
    color: #111;
    position: absolute;
    margin-top: 17vh;
    margin-left: 58vw;
    font-size: 2.5rem;
    background-color: #eee;
}

#result-area-text {
    margin-top: 1.65vh;
    display: flex;
    justify-content: center;
}

.alert-div {
    color: #eeeeeed8;
    font-size: 0.9rem;
    position: absolute;
    margin-top: 34vh;
    margin-left: 39vw;
}