* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, #122221, #2dade4); 
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container > button:hover {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #111;
    outline: none;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
}


.grid-container > .operator {
    background: #057d92;
}

.span-two {
    grid-column: span 2;
}
.grid-container > .output {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: rgba(238, 238, 238, 0.788);
    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: #eee;
    font-size: 2.5rem;
}
